{% extends 'users.html'%}

{% block content %}
<p>Why are you reading other people's mail??????</p>
<a href="{{url_for('users')}}">
  <button class='btn btn-primary btn-sm'>Go back</button>
  <small id="" class="form-text text-muted">And don't come back!</small>
</a>

<form action="{{url_for('update_message_by_user', user_id=message.userid, message_id=message.id)}}?_method=PATCH" method="POST">
  <textarea name="message" id="message" cols="50" rows="5">{{message.content}}</textarea>
  <div>
    <input class='btn btn-danger btn-sm' type="submit" value="Edit Message">
  </div>
</form>
{% endblock %}