{% extends 'users.html' %} {% block content %}
<h6>Stop snooping on {{user.first_name}} {{user.last_name}}!!</h6>

<form action="{{url_for('edit_user', user_id=user.id)}}?_method=PATCH" method="POST">
  <div class='form-group'>
    <img src="{{user.avatar_url}}" alt="">
  </div>
  <div class='form-group'>
    <label for="firstName">First Name</label>
    <input type="text" class='form-control' name='first_name' id='firstName' value='{{user.first_name}}'>
    <small id="" class="form-text text-muted">STAHP!</small>
  </div>
  <div class='form-group'>
    <label for="lastNmae">Last Name</label>
    <input type="text" class='form-control' name='last_name' id='lastName' value='{{user.last_name}}'>
    <small id="" class="form-text text-muted">GO BACK!</small>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id='email' name='email' aria-describedby="emailHelp" value="{{user.email}}">
    <small id="" class="form-text text-muted">STAHP!</small>
  </div>

  <div class='form-group'>
    <label for="lastNmae">Credit Card Number</label>
    <input type="text" class='form-control' id='cc_number' name='cc_number' value='{{user.cc_number}}'>
    <small id="" class="form-text text-muted">These aren't real credit card numbers!</small>
  </div>

  <div class='form-group'>
    <select class="form-inline" name='gender'>
      {% if user.gender == 'Male' %}
      <option selected value="Male">Male</option>
      <option value="Female">Female</option>
      {% else %}
      <option value="Male">Male</option>
      <option selected value="Female">Female</option>
      {% endif %}
    </select>

  </div>

  <button type="submit" class="btn btn-warning btn-sm">Manipulate This User's Data!</button>

</form>
<div class='mt-3'>
  <a href="{{url_for('show_all_users')}}">
    <button class='btn btn-primary btn-sm'>Go back</button>
  </a>
</div>
<div>
  <small id="" class="form-text text-muted">And don't come back!</small>
</div>
{%endblock%}